@font-face {
    font-family: Outfit-normal;
    src: url("./../font/Outfit-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Outfit-bold;
    src: url("./../font/Outfit-Bold.ttf");
    font-weight: 700;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .textpreset-1{
        @apply text-[18px] min-[375px]:text-[22px] leading-[120%] tracking-[0];
    }
    .textpreset-2{
        @apply text-[13px] min-[375px]:text-[15px] leading-[140%] tracking-[0.2px];
    }
}